{% extends 'base.html' %}
{% block content %}

    {% include '_navbar.html' %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Deepchecks Task
                <i class="fab fa-docker"></i> + <i class="fab fa-python"></i>
            </h1>
            <h5 class="lead">a SavanaTech Project
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            </h5>
            <hr class="my-2">

        </div>
    </div>

{% endblock content %}
